body{
  font-family: 'Anton', sans-serif;
  line-height: 1.8;
}
/* 
ヘッダー
*/
.header{
  background-size: cover;
  background: url(../img/header-bg.jpg) center center;
  height: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo{
  display: inline;
  color: #fff;
  font-size: 5rem;
  letter-spacing: 4px;
  margin: 0;
  opacity: 0.9;
  text-align: center;
}

/* ナビゲーション */

.global-navigation{
  display: block;
  position: absolute;
  top: 410px;
  z-index: 1;
}

.ul-wrap{
  background-color: #ddd;
  opacity: 0.8;
  width: 100vw;
}

.nav-menu{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

.nav-item{
  display: block;
  font-size: 32px;
  height: 70px;
  line-height: 70px;
  letter-spacing: 4px;
  text-align: center;
  width: 25%;
  cursor: pointer;
}

.nav-item:hover{
  background-color: black;
  color: white;
  transition: 0.15s;
}